* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  background: #cecece;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.container .card {
  width: 600px;
  height: auto;
  background: #2c2c2c;
  border-radius: 10px;
  padding: 15px;
  /* box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2); */
  /* box-shadow: -29px 29px 83px #303030, 29px -29px 83px #c0c0c0; */
  box-shadow: -11px 11px 100px #303030, 11px -11px 100px #c0c0c0;
}

.card .screen {
  width: 100%;
  height: 35ch;
  border-radius: 6px;
  padding: 8px;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: inset 5px 5px 15px rgba(255, 255, 255, 0.4),
    inset -5px -5px 15px rgba(255, 255, 255, 0.4);
  margin-bottom: 1.5rem;
}

.card .screen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
  box-shadow: inset 5px 5px 15px rgba(255, 255, 255, 0.4),
    inset -5px -5px 15px rgba(255, 255, 255, 0.4);
}

.card .volume {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.card .volume i {
  color: #565656;
  font-size: 1.25rem;
  text-shadow: -5px 5px 9px #0d0d0d, 5px -5px 9px #353535;
  cursor: pointer;
}
.card .volume .text {
  color: #858585;
  font-size: 0.89rem;
  font-weight: 600;
  cursor: pointer;
}

.card .duration {
  width: 100%;
  height: 8px;
  background: #565656;
  /* box-shadow: -1px 1px 3px #565656, 1px -1px 3px #8f8f8f; */
  box-shadow: -5px 5px 9px #292929, 5px -5px 9px #353535;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: 2rem;
}
.card .duration .duration-line {
  width: 70%;
  height: 5px;
  background: #611b1b;
  /* box-shadow: inset -5px 5px 10px #741808, inset 5px -5px 10px #5d2525; */
  border-radius: 2px;
}

.card .action-button {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card .action-button .action-box {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 0 0.5rem;
  margin-bottom: 1rem;
}

.card .action-button .action-box i {
  color: #565656;
  font-size: 2rem;
  text-shadow: -5px 5px 9px #0d0d0d, 5px -5px 9px #353535;
  cursor: pointer;
}

.card .footer-text {
  text-align: center;
  font-size: 0.85rem;
  color: #565656;
  text-shadow: inset -5px 5px 9px #0d0d0d, inset 5px -5px 9px #353535;
}
